.jumbotron {
  background-color: rgb(142, 142, 255);
}
.glyphicon {
  top: 2.5px;
}
.btn {
  outline: none;
  height: 33px;
}
.btn.btn-primary {
  margin-left: 10px;
  background-color: rgb(245, 71, 100);
  border: none;
}
